@import '../../../common.scss';
.goods-detail-page {
  margin-top: $md;
  .title {
    text-align: center;
  }
  .goods-picture {
    width: 300px;
  }
  .title-brief {
    li {
      list-style: none;
      float: left;
      width: 33.33%;
      text-align: center;
    }
    width: 100%;
  }
  .goods-form {
    border-top: 1px solid $line-color;
  }
  .button-area {
    text-align: right;
    color: $md;
  }
}
