@import '../../common.scss';
.MainLayout {
  min-width: $page-width;
  min-height: $content-height;
  .ant-layout-header {
    background: $color-primary;
    height: 64px;
  }
  .main-content {
    padding: $md;
    min-width: $page-width;
    min-height: $min-content-height;
  }
  .app {
    padding-bottom: $lg;
    /*     width: 100%;
    margin-top: $md;
    width: 100%;
    @extend .fit-image-size;
    background-image: url(../../assets/app.png);
    height: 245px; */
  }
  .CommonFooter {
    min-height: $bottom-height;
  }
}
