@import '../../common.scss';
.NavMenu {
  background: $color-primary;
  &.ant-menu-horizontal {
    .ant-menu-item-selected,
    .ant-menu-item-active {
      background-color: $hight-light;
    }
  }
}

.default-active {
  background: $choose-color-primary !important;
  border-bottom: 1px solid $choose-color-primary !important;
}
