@import '../../common.scss';
.UserNav {
  color: #fff;
  text-align: center;
  >ul {
    line-height: 65px;
    height: 65px;
    li {
      &.ant-menu-item {
        margin-top: -2px;
      }
      a {
        color: #fff !important;
      }
    }
  }
  .username {
    cursor: pointer;
    position: relative;
    top: -2px;
  }
  .ant-badge {
    display: initial;
    .ant-badge-dot {
      top: -48px;
      left: 49px;
    }
  }
}

.pop-nav {
  margin: 0 10px;
  p {
    margin: 5px 0;
    &.text {
      margin: 10px 0;
      text-align: center;
      a {
        &:hover {
          color: red
        }
      }
    }
  }
}

.ant-popover-title {
  min-width: initial !important;
}
