@import '../../../common.scss';
.post-release-spinging {
  max-height: none !important;
}

.post-release-page {
  .post-picture {
    width: 300px;
  }
  .submit-panel {
    padding-top: $md;
    border-top: 1px solid $line-color;
  }
  .qiniu-upload {
    position: relative;
    .default-img {
      @extend .flex-center;
      height: 200px;
      width: 200px;
      border: 1px solid #c9c9c9;
      margin-bottom: 20px;
      border-radius: 5px;
      background: #fafafa;
    }
    i {
      font-size: $lg * 2;
      color: #999999;
    }
    .upload-bk-img {
      width: 100%;
    }
    .input-upload {
      width: 200px;
      position: absolute;
      opacity: 0;
      top: 0;
      height: 200px;
      cursor: pointer;
    }
  }
}
