@import '../../common.scss';
.MainPage {
  margin-top: $md;
  .content {
    margin-top: $md;
    >div.ant-col-12 {
      width: 49.25%;
      &:first-child {
        margin-right: 1.5%;
      }
    }
  }
}
