@import '../../common.scss';
.MainPage {
  .content {
    >div.ant-col-12 {
      width: 49.25%;
      &:first-child {
        margin-right: 1.5%;
      }
    }
    .card-table {
      .ant-card-body {
        min-height: 1089.89px;
      }
    }
  }
  .latest-news {
    .deepen-word {
      margin: 0 20px;
      font-weight: bold;
    }
  }
}
