$colorPrimary: #14B9C8;
$chooseColorPrimary:#12A7B4;
$lineColor:#e7e7e7;
$processColor:#66BB6A;
$endColor:#B0BEC5;
$base:64px;
$pageWidth: 100%;
$sm:8px;
$md:16px;
$lg:24px;
$inputHeight:40px;
$inputFontSize:14px;
$hightlight:rgba(10, 226, 236, 0.529412);
$content_height:100vh;
$top_height:8.8vh;
$bottom_height:9.4vh;
.com-margin-top {
  margin-top: $md;
}

.fit-image-size {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50% 50%;
}

.color-process {
  color: $processColor;
}

.color-end {
  color: $endColor;
}

.important {
  color: red;
}

.clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.hide {
  display: none;
}

.show {
  display: block;
}

.width-100 {
  width: 100%
}

.row-img-style {
  width: 100px;
}
