$color_primary:#00add2;
$base:64px;
$page_width:1080px;
$sm:8px;
$md:16px;
$lg:24px;
$inputHeight:40px;
$inputFontSize:14px;
$hightlight:rgba(10, 226, 236, 0.529412);
.fit-image-size {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50% 50%;
}

.clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.text-center {
  text-align: center
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.hide {
  display: none;
}

.show {
  display: block;
}

.width-100 {
  width: 100%
}
