@import '../../../common.scss';
.ValidateCodeForm {
  .code-text {
    width: 100%;
    cursor: pointer;
  }
  .verification-code-img {
    height: 32px;
    width: 100%;
    display: block;
    cursor: pointer;
  }
}
